# **Importing Libraries**

In [0]:
import pandas as pd

import numpy as np

# **Loading Dataset**

In [0]:
# Load the Autolib dataset and create a dataframe
auto = pd.read_csv('Autolib_dataset (2).csv')

## Preview the dataframe

In [30]:
# preview the first 10 rows od the dataset
auto.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

## Data Exploration

In [31]:
# Procedure 4: Datatypes
# Data Exploration Action:use .info() function to check the datatypes of each column
# Explanation:To allow us understand tha data more
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [32]:
# Procedure 4:Missing data
# Data Exploration Action: Use .count() function to calculate the number of non-missing values
# Explanation:To know whether we should drop some columns or not
auto.count()

Address                5000
Cars                   5000
Bluecar counter        5000
Utilib counter         5000
Utilib 1.4 counter     5000
Charge Slots           5000
Charging Status        5000
City                   5000
Displayed comment       111
ID                     5000
Kind                   5000
Geo point              5000
Postal code            5000
Public name            5000
Rental status          5000
Scheduled at             47
Slots                  5000
Station type           5000
Status                 5000
Subscription status    5000
year                   5000
month                  5000
day                    5000
hour                   5000
minute                 5000
dtype: int64

# **Data Cleaning**

## Accuracy

In [34]:
# Procedure 5:Checking accuracy
# Data Cleaning Action: checking if the month recorded is April for all rows
# Explanation:To check for outliers or incorrect data

ba = auto[(auto.month != 4)]
ba

Empty DataFrame
Columns: [Address, Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, Displayed comment, ID, Kind, Geo point, Postal code, Public name, Rental status, Scheduled at, Slots, Station type, Status, Subscription status, year, month, day, hour, minute]
Index: []

## Validity

In [35]:
# Procedure 1:Dropping unnecessary columns
# Data Cleaning Action: Use .drop() function
# Explanation:The will mislead the analysis process

auto.drop(["Displayed comment","Geo point","Scheduled at","ID","year","month", "Cars"], axis=1, inplace=True)
auto.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 18 columns]

## Completeness

In [36]:
# Procedure 2:Null values
# Data Cleaning Action: Use of .isnull() 
# Explanation:checking for any missing values

auto.isnull().any()

Address                False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Kind                   False
Postal code            False
Public name            False
Rental status          False
Slots                  False
Station type           False
Status                 False
Subscription status    False
day                    False
hour                   False
minute                 False
dtype: bool

In [37]:
# Procedure 3:Null values
# Data Cleaning Action: Use of .count()
# Explanation:checking for any missing values

auto.count()

Address                5000
Bluecar counter        5000
Utilib counter         5000
Utilib 1.4 counter     5000
Charge Slots           5000
Charging Status        5000
City                   5000
Kind                   5000
Postal code            5000
Public name            5000
Rental status          5000
Slots                  5000
Station type           5000
Status                 5000
Subscription status    5000
day                    5000
hour                   5000
minute                 5000
dtype: int64

## Consistency

In [38]:
# Procedure 4:Duplicated values
# Data Cleaning Action:Using .duplicated()
# Explanation:to check for any duplicated values
auto.duplicated().any()

False

# Exporting cleaned dataset

In [0]:
# Let's export our dataframe into a csv file 
auto.to_csv('AutolibClean.csv')

# Analysis

In [40]:
#preview the cleaned dataset and create a dataframe

df_auto = pd.read_csv('AutolibClean.csv')
df_auto.head()

   Unnamed: 0                             Address  ...  hour  minute
0           0                 2 Avenue de Suffren  ...    11      43
1           1           145 Rue Raymond Losserand  ...     7      24
2           2    2 Avenue John Fitzgerald Kennedy  ...    20      14
3           3              51 Rue EugÃ¨ne OudinÃ©  ...     4      37
4           4  6 avenue de la Porte de Champerret  ...    17      23

[5 rows x 19 columns]

In [41]:
df_auto.drop(["Unnamed: 0"], axis=1, inplace= True)
df_auto.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 18 columns]

In [45]:
# adding columns for the specific cars to show how many cars were picked and returned 

df_auto['Bluecar_Diff'] = df_auto['Bluecar counter'].diff()
df_auto['Utilib_Diff'] = df_auto['Utilib counter'].diff()
df_auto['Utilib_1.4_Diff'] = df_auto['Utilib 1.4 counter'].diff()
df_auto.head()

                              Address  ...  Utilib_1.4_Diff
0                 2 Avenue de Suffren  ...              NaN
1           145 Rue Raymond Losserand  ...              0.0
2    2 Avenue John Fitzgerald Kennedy  ...              2.0
3              51 Rue EugÃ¨ne OudinÃ©  ...             -2.0
4  6 avenue de la Porte de Champerret  ...              0.0

[5 rows x 21 columns]

In [46]:
# Identify which cities are recorded in the data

df_auto['City'].unique()

array(['Paris', 'Le Bourget', 'Nanterre', 'Puteaux', 'Fontenay-aux-Roses',
       'Le Chesnay', 'Suresnes', 'Versailles', 'Malakoff',
       'Issy-les-Moulineaux', 'Saint-Cloud', 'SÃ¨vres', 'Bezons',
       'Nogent-sur-Marne', 'CrÃ©teil', 'Villejuif', 'Rueil-Malmaison',
       'Villeneuve-la-Garenne', 'Montreuil', 'Charenton-le-Pont',
       'Courbevoie', 'AsniÃ¨res-sur-Seine', 'Garches', 'Drancy',
       'La Garenne-Colombes', 'VerriÃ¨res-le-Buisson', 'Le Blanc-Mesnil',
       'Vanves', 'Enghien-les-Bains', 'Sceaux', 'Levallois-Perret',
       'Boulogne-Billancourt', 'ChÃ¢tenay-Malabry', 'Pantin', 'Meudon',
       'Gennevilliers', 'Vincennes', 'Rungis', 'Colombes',
       'Fontenay-Sous-Bois', 'Rosny-sous-Bois', 'Bourg-la-Reine',
       'Cachan', 'Maisons-Alfort', 'BiÃ¨vres', 'Alfortville',
       'Champigny-sur-Marne', 'Aulnay-sous-bois', 'Saint-Denis',
       'Le Plessis-Robinson', 'Le PrÃ©-Saint-Gervais', 'Clamart',
       'Bois-Colombes', 'Guyancourt', 'Bagnolet', 'Vaucresson',
       'Limeil-BrÃ©vannes', 'Saint-Maurice', 'Romainville',
       'VÃ©lizy-Villacoublay', 'Arcueil', 'Saint-Ouen',
       'Clichy la garenne', 'Meudon-la-ForÃªt', 'Clichy-la-Garenne',
       "Ville-d'Avray", 'Argenteuil', 'Noisy-le-Sec', 'Saint-MandÃ©',
       'Neuilly-sur-Seine', 'Clichy-sous-Bois', 'Montfermeil', 'Antony',
       'Bagneux', 'Epinay-sur-Seine', 'ChÃ¢tillon',
       'Ã\x89pinay-sur-Seine', 'Yerres', 'Dugny', 'Joinville-le-Pont',
       'Neuilly-Plaisance', 'Montrouge', 'Sucy-en-Brie', 'Chaville',
       'Saclay', 'Les Lilas', 'Saint-Maur', 'Aubervilliers'], dtype=object)

In [49]:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018
#
pop_hour = df_auto[(df_auto.City == 'Paris') & (df_auto.Bluecar_Diff > 0)].groupby('hour')['hour'].count().sort_values(ascending = False)
pop_hour.head(1)

hour
3    49
Name: hour, dtype: int64

In [50]:
# Identify the most popular hour of the day for returning a shared electric car (Bluecar) in the city of Paris over the month of April 2018
#
pop_hour_r = df_auto[(df_auto.City == 'Paris') & (df_auto.Bluecar_Diff < 0)].groupby('hour')['hour'].count().sort_values(ascending = False)
pop_hour_r.head(1)

hour
21    80
Name: hour, dtype: int64

In [53]:
# What is the most popular station overall?


pop_station = df_auto[(df_auto['Kind'] == 'STATION') & (df_auto['Status'] == 'ok')].groupby('Public name')['Public name'].count().sort_values(ascending= False)
pop_station.head(1)

Public name
Paris/Porte de Montrouge/8    13
Name: Public name, dtype: int64

In [65]:
# What is the most popular station at the most popular picking hour?

popular_S = df_auto[(df_auto['Kind'] == 'STATION') & (df_auto['Status'] == 'ok')& (df_auto.hour == 3)].groupby('Public name')['Public name'].count().sort_values(ascending= False)
popular_S.head()

Public name
Paris/Julien Lacroix/39      2
Paris/Quatre septembre/10    2
Paris/Francois 1er/7         2
Paris/Henri IV/46            2
Paris/Mortier/15             2
Name: Public name, dtype: int64

In [59]:
# What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?

pop_postal = df_auto[(df_auto.Kind =='STATION') & (df_auto.Status == 'ok') & (df_auto.Bluecar_Diff < 0)].groupby('Postal code')['Address'].count().sort_values(ascending = False)
pop_postal.head()

Postal code
75008    93
75015    90
75017    82
75012    76
75013    72
Name: Address, dtype: int64

In [64]:
# What postal code is the most popular for picking up Blue cars at the most popular picking hour?
pop_postal_H = df_auto[(df_auto.Kind =='STATION') & (df_auto.Status == 'ok') & (df_auto.hour == 3)].groupby('Postal code')['Address'].count().sort_values(ascending = False)
pop_postal_H.head()

Postal code
75016    9
75015    8
92130    8
75020    8
75012    7
Name: Address, dtype: int64